@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body{
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}
.result, .results_2, .results_3{
  font-size: 18px;
  margin: 15px;
  background-color: #626694;
  border: 5px;
  color:azure;
  font-size: 14px;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.row__item{
  background-color: #FFD700;
  border-radius: 20px;
  padding: 10px;
  box-shadow: -2px -2px 25px 8px rgba(34, 60, 80, 0.2);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
  
.canvas{
  display:flex;
  background-color: #FFD700;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: -2px -2px 25px 8px rgba(34, 60, 80, 0.2);
  width: 45%;
}
.canvas__row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row__item, .item__canvas p {
  font-family: 'Montserrat Alternates'
}
.row__item, .item__canvas h1 {
  font-family: 'Montserrat Alternates'
}
#canvas {
  border: 1px solid black;
}
button {
  width: 15vh;
  height: 5vh;
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  background-color: black;
  color:ghostwhite;
  border-radius: 15px;
  margin: 10px;
}